@use "sass:map";
@import "../../styles/variables";
@import "../../styles/media_queries";

.Breadcrumb {
    padding-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    background-color: map.get($theme-colors, "dark-blue");
    position: relative;
    nav {
        padding-left: 2.438rem;
        margin-bottom: 1rem;
        padding-bottom: 1.5rem;
        @include breakpoint-under('lg'){
            padding-left: 1.6rem;
        }
        ol {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;
            color: map.get($theme-colors, "grey");
            @include montserrat-regular;
            li {
                display: flex;
                gap: .5rem;
                a {
                    text-decoration: none;
                    opacity: 0.7;
                }
                &:last-child {
                    a {
                        opacity: 1;
                       // text-decoration: underline;
                        pointer-events: none;
                    }
                }
            }
        }
    }


.icon {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 0.1rem;
    margin: auto;
    opacity: 0.5;

    svg {
        transform-origin: 50% 50%;
        transform: rotateZ(90deg);
        height: auto;
    }
}


svg {
    stroke: map.get($theme-colors, "grey");
    margin-left: 4px;
    height: fit-content;
    transition: all .2s ease-in-out;
    @media (prefers-reduced-motion: reduce) {
        transition: all 0s;
        transition-delay: 0ms;
    }
    height: auto;
}
}