@use "sass:map";
@import "../../styles/variables";
@import "../../styles/media_queries";


.HeroHome {
    margin: 0;
    padding: 0;
  //  background-color: map.get($theme-colors, "dark-blue");
    background: linear-gradient(180deg, map.get($theme-colors, "dark-blue") 85%, map.get($theme-colors, "grey") 20%);
    @include breakpoint-under('xl') {
        background: linear-gradient(180deg, map.get($theme-colors, "dark-blue") 88%, map.get($theme-colors, "grey") 20%);
    }
    @include breakpoint-under('lg') {
        background: map.get($theme-colors, "dark-blue");
    }
    color: map.get($theme-colors, "gold");
    @include montserrat-semi-bold;
    font-size: 1.25rem;
    width: 100%;
    height: auto;
    position: relative;

    .pretitleContainer {
        padding-bottom: 0 !important;
      //  width: 33.33333%;

       .pretitle {
        @include montserrat-semi-bold;
        font-size: 1.25rem;
        text-transform: uppercase;
        @include breakpoint-under('lg'){
            font-size: 0.875rem;
        }
       }
    }
    .columnsContainer {
        position: relative;
        height: fit-content;
        @include breakpoint-under('lg'){
            display: block;
            padding-top: 1rem;
            div {
                width: 100%;
            }
        }
       .sx {
     //  margin: auto;
       position: relative;
       }
       .center {
        @include breakpoint-under('xl'){
            width: 40%;
        }
        @include breakpoint-under('lg'){
            margin-bottom: 2rem;
            margin-top: 2rem;
             width: 100%;
        }
        justify-content: center;
        display: flex;
        margin: auto;
        position: relative;
        .image {
           position: relative;
           width: fit-content;
           @include breakpoint-under('lg'){
              justify-content: center;
              display: flex;
              width: auto;
            }
            @include breakpoint-under('sm'){
                justify-content: center;
                display: block;
                width: fit-content;
              }
            img {
                width: 100%;
                height: auto;
                @include breakpoint-under('xxl') {
                    width: 105%;
                }
                @include breakpoint-under('lg'){
                    width: 70%;
                    height: 100%;
                }
                @include breakpoint-under('sm'){
                    width: 100%;
                    height: 100%;
                }
            }
        }

        }
         .dx {
            justify-content: center;
            margin: auto;
            position: relative;
            @include breakpoint-under('lg'){
             margin-bottom: 2rem;
            }
            }
    }
    .containerSvg {
        width: fit-content;
        position: relative;
        margin-top: 2.5rem;
        left: -28px;

        .arrow {
            position: relative;
            left: -31px;
            top:  -28px;
        }
        @include breakpoint-under('lg'){
            display: none;
        }
    }
    .title {
        width: 100%;
        font-size: 5rem;
        line-height: 4.5rem;
        @include breakpoint-under('xxl') {
            font-size: 4rem;
            line-height: 4rem;
        }
        @include breakpoint-under('xl') {
            line-height: 3.5rem;
        }
        @include noto-bold;
        font-style: ExtraCondensed;
        margin-bottom: 2rem;
        @include breakpoint-under('lg'){
            margin-bottom: 1rem;
            font-size: 3.75rem;
        }
       }
       .text {
        line-height: 1.7rem;
        width: 100%;
        font-size: 1.25rem;
        @include montserrat-light;
        color: map.get($theme-colors, "grey");
       }
       .textDx {
        margin-top: 0.5rem;
        position: relative;
        left: 1rem;
       }
}

.scrittaAnim {
    position: relative;
    height: fit-content;
    overflow: hidden;
    width: 100% !important;
    font-family: 'Photograph Signature';
    font-size: 4.1rem;
    font-weight: 400;
    // @include breakpoint-under('xxl') {
    //     font-size: 3.7rem;
    // }
    @include breakpoint-under('xxl') {
        font-size: 3.6rem;
        text-align: center !important;
    }
    @include breakpoint-under('xl'){
        line-height: 3.6rem;
    }
    @include breakpoint-under('lg'){
        margin: 3rem 0;
    }

    svg {
      // @include PhotographSignature;
       font-family: 'Photograph Signature';
       position: absolute; 
       width: 100%; height: 100%;
       fill:rgba(map.get($theme-colors, "gold"), 1); 
       stroke: map.get($theme-colors, "gold");
     }
     svg {
      text {
        text-transform: uppercase;
        position: relative;
     //   animation: strokeAnim 5s;
        stroke-width: 2;
        font-size: 140px;
      }
     }
    position: relative;
    // &::after {
    //   content: '';
    //  // background-image: linear-gradient(-90deg, transparent , map.get($theme-colors, "grey"));
    //   background-color: map.get($theme-colors, "grey");
    //   width: 800px;
    //   height: 100px;
    //   top: 0;
    //   left: 0;
    //   position: absolute;
    //  animation: textOpacity 5s;
    // }
  }
  
  @keyframes textOpacity {
    0% {
      transform: translateX(0%);
    }
    100% {
    transform: translateX(100%);
    }
  }
  @keyframes strokeAnim {
      0%   {
          fill:rgba(map.get($theme-colors, "gold"), 0); 
      stroke: map.get($theme-colors, "gold");
      //	stroke-dashoffset: 25%; 
      stroke-dasharray: 0 50%; 
      stroke-width: 2;
      }
  
      80%  {
      fill:rgba(map.get($theme-colors, "gold"), 0); 
      stroke: map.get($theme-colors, "gold"); 
      stroke-width: 3; 
    }
      100% {
          fill: map.get($theme-colors, "gold"); 
      stroke: rgba(map.get($theme-colors, "gold"), 0); 
      //	stroke-dashoffset: -25%; 
      stroke-dasharray: 50% 0; 
      stroke-width: 0;
      }
  }
  
  .desktop {
    @include breakpoint-under('lg'){
        display: none;
    }
  }

  .mobile {
    display: none;
    @include breakpoint-under('lg'){
        display: block;
    }
  }