@use "sass:map";
@import "_variables";
@import "media_queries";
@import url('http://fonts.cdnfonts.com/css/photograph-signature');

p, span, h1, h2, h3, h4, h5 ,h6 {
    background-color: transparent !important;
    margin: 0;
  }

  // Layouts
.centeredSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    max-width: 1154px;
    margin-left: auto;
    margin-right: auto;
  
    @include breakpoint-under("xxl") {
      max-width: 1100px;
    }
  
    @include breakpoint-under("xl") {
      max-width: 920px;
    }
  
    @include breakpoint-under("lg") {
      max-width: 630px;
    }
  
    @include breakpoint-under("md") {
      max-width: 500px;
    }
  
    @include breakpoint-under("sm") {
      width: calc(100% - 80px) !important;
      margin-left: 40px;
      margin-right: 40px;
    }
  }
  
  .smallCenteredSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  
    @include breakpoint-under("xxl") {
      max-width: 700px;
    }
  
    @include breakpoint-under("xl") {
      max-width: 500px;
    }
  
    @include breakpoint-under("lg") {
      max-width: 630px;
    }
  
    @include breakpoint-under("md") {
      max-width: 500px;
    }
  
    @include breakpoint-under("sm") {
      width: calc(100% - 80px);
      margin-left: 40px;
      margin-right: 40px;
    }
  }
  
  .leftCenteredSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    max-width: 100%;
    margin-left: calc(50% - 465px);
    margin-right: 0;
  
    // @include breakpoint-under("xxl") {
    //     max-width: 1100px;
    //     margin-left: auto;
    //     margin-right: auto;
    // }
  
    // @include breakpoint-under("xl") {
    //     max-width: 900px;
    //     margin-left: auto;
    //     margin-right: auto;
    // }
  
    @include breakpoint-under("lg") {
      margin-left: calc(50% - 300px);
      margin-right: auto;
    }
  
    @include breakpoint-under("md") {
      // margin-left: calc(50% - 240px);
      // margin-right: auto;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  
    @include breakpoint-under("sm") {
      //  margin-left: calc(50% - 200px);
      // margin-right: auto;
    }
  }
  
  .widerLeftCenteredSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    max-width: 100%;
    margin-left: calc(50% - 580px);
    margin-right: 0;
  
    @include breakpoint-under("xxl") {
      margin-left: calc(50% - 548px);
    }
  
    @include breakpoint-under("xl") {
      margin-left: calc(50% - 458px);
    }
  
    @include breakpoint-under("lg") {
      margin-left: calc(50% - 316px);
    }
  
    @include breakpoint-under("md") {
      margin-left: calc(50% - 250px);
    }
  
    @include breakpoint-under("sm") {
      width: calc(100% - 80px) !important;
      margin-left: 40px;
      margin-right: 40px;
    }
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    background-color: transparent;
    border: none;
    color: white;
  }
  .fullForMobile {
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    @include breakpoint-under("md") {
      max-width: 100%;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  


  ////////@at-root@use "sass:map";

body {
  margin: 0;
  color: map.get($theme-colors, "light-blue");
  background-color: map.get($theme-colors, "light");
  overscroll-behavior: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.headerFixed {
  opacity: 1;
  transition: all 0.5s ease-in-out;
 }

 .noHeaderFixed {
  opacity: 0 ;
  transition: all 0.5s ease-in-out;
 }

 #main {
  background-color: map.get($theme-colors, "dark-blue");
  & > div:last-child {
    position: relative;
    padding-top: 10rem;
    @include breakpoint-under('lg'){
      padding-top: 9rem;
    }
  }
 }

 .mainHome {
  padding-top: 13rem !important;
  @include breakpoint-under('lg'){
    padding-top: 12rem !important;
  }
  @include breakpoint-under('sm'){
    padding-top: 11rem !important;
  }
 }
 .mainWithBreadcrumb {
  padding-top: 9rem !important;
  @include breakpoint-under('lg'){
    padding-top: 6rem !important;
  }
 }
 .linesAnimated {
  width: 100% !important;
  transition: all 3s cubic-bezier(.19,1,.22,1);
  transition-delay: 0.2s;
  transform: translateX(0%) !important;
  opacity: 1 !important;
  @media (prefers-reduced-motion: reduce) {
    transition: all 0s cubic-bezier(.19,1,.22,1);
  }
}

// home 
body {
	background: #e3f2fd
}

.scrittaAnim {
  height: 100px;
  width: 800px;
  overflow: hidden;
  margin: auto;
  svg {
    // @include PhotographSignature;
     font-family: 'Photograph Signature';
     position: absolute; 
     width: 100%; height: 100%;
     fill:rgba(map.get($theme-colors, "gold"), 1); 
     stroke: map.get($theme-colors, "gold");
   }
   svg {
    text {
      text-transform: uppercase;
      position: relative;
      animation: strokeAnim 5s;
      stroke-width: 2;
      font-size: 140px;
    }
   }


  position: relative;
  &::after {
    content: '';
   // background-image: linear-gradient(-90deg, transparent , map.get($theme-colors, "grey"));
    background-color: map.get($theme-colors, "grey");
    width: 800px;
    height: 100px;
    top: 0;
    left: 0;
    position: absolute;
   animation: textOpacity 5s;
  }
}

@keyframes textOpacity {
  0% {
    transform: translateX(0%);
  }
  100% {
  transform: translateX(100%);
  }
}
@keyframes strokeAnim {
	0%   {
		fill:rgba(map.get($theme-colors, "gold"), 0); 
    stroke: map.get($theme-colors, "gold");
	//	stroke-dashoffset: 25%; 
    stroke-dasharray: 0 50%; 
    stroke-width: 2;
	}

	80%  {
    fill:rgba(map.get($theme-colors, "gold"), 0); 
    stroke: map.get($theme-colors, "gold"); 
    stroke-width: 3; 
  }
	100% {
		fill: map.get($theme-colors, "gold"); 
    stroke: rgba(map.get($theme-colors, "gold"), 0); 
	//	stroke-dashoffset: -25%; 
    stroke-dasharray: 50% 0; 
    stroke-width: 0;
	}
}

.col-2 {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  div {
    width: 50%;
  }
}
