@use "sass:map";
@import "_variables";
@import "media_queries";
@import url('http://fonts.cdnfonts.com/css/photograph-signature');

p, span, h1, h2, h3, h4, h5 ,h6 {
    background-color: transparent !important;
    margin: 0;
  }

  // Layouts
  .largeCenteredSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 1330px;

    margin-left: auto;
    margin-right: auto;
  
    @include breakpoint-under("xxl") {
      max-width: 90%;
    }
  }

.centeredSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
  
    @include breakpoint-under("xxl") {
      max-width: 1100px;
    }
  
    @include breakpoint-under("xl") {
      max-width: 900px;
    }
  
    @include breakpoint-under("lg") {
      max-width: 630px;
    }
  
    @include breakpoint-under("md") {
      max-width: 450px;
    }
  
    @include breakpoint-under("sm") {
      width: calc(100% - 100px) !important;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .smallCenteredSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  
    @include breakpoint-under("xxl") {
      max-width: 700px;
    }
  
    @include breakpoint-under("xl") {
      max-width: 500px;
    }
  
    @include breakpoint-under("lg") {
      max-width: 630px;
    }
  
    @include breakpoint-under("md") {
      max-width: 500px;
    }
  
    @include breakpoint-under("sm") {
      width: calc(100% - 80px);
      margin-left: 40px;
      margin-right: 40px;
    }
  }
  
  .leftCenteredSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    max-width: 100%;
    margin-left: calc(50% - 465px);
    margin-right: 0;
  
    // @include breakpoint-under("xxl") {
    //     max-width: 1100px;
    //     margin-left: auto;
    //     margin-right: auto;
    // }
  
    // @include breakpoint-under("xl") {
    //     max-width: 900px;
    //     margin-left: auto;
    //     margin-right: auto;
    // }
  
    @include breakpoint-under("lg") {
      margin-left: calc(50% - 300px);
      margin-right: auto;
    }
  
    @include breakpoint-under("md") {
      // margin-left: calc(50% - 240px);
      // margin-right: auto;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  
    @include breakpoint-under("sm") {
      //  margin-left: calc(50% - 200px);
      // margin-right: auto;
    }
  }
  
  .widerLeftCenteredSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    max-width: 100%;
    margin-left: calc(50% - 580px);
    margin-right: 0;
  
    @include breakpoint-under("xxl") {
      margin-left: calc(50% - 548px);
    }
  
    @include breakpoint-under("xl") {
      margin-left: calc(50% - 458px);
    }
  
    @include breakpoint-under("lg") {
      margin-left: calc(50% - 316px);
    }
  
    @include breakpoint-under("md") {
      margin-left: calc(50% - 250px);
    }
  
    @include breakpoint-under("sm") {
      width: calc(100% - 80px) !important;
      margin-left: 40px;
      margin-right: 40px;
    }
  }
  
  .fullMobile {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    background-color: transparent;
    border: none;
    color: white;
  }
  .fullForMobile {
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    @include breakpoint-under("md") {
      max-width: 100%;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  


  ////////@at-root@use "sass:map";

body {
  margin: 0;
  color: map.get($theme-colors, "light-blue");
  background-color: map.get($theme-colors, "light");
  overscroll-behavior: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.headerFixed {
  opacity: 1;
  transition: all 0.5s ease-in-out;
 }

 .noHeaderFixed {
  opacity: 0 ;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
 }

 #main {
  background-color: map.get($theme-colors, "dark-blue");
  & > div:last-child {
    position: relative;
    padding-top: 10rem;
    @include breakpoint-under('lg'){
      padding-top: 9rem;
    }
  }
 }

 .mainHome {
  padding-top: 12.5rem !important;
  @include breakpoint-under('lg'){
    padding-top: 10.6rem !important;
  }
  // @include breakpoint-under('sm'){
  //   padding-top: 8rem !important;
  // }
 }
 .mainWithBreadcrumb {
  padding-top: 9rem !important;
  @include breakpoint-under('lg'){
    padding-top: 6rem !important;
  }
 }
 .linesAnimated {
  width: 100% !important;
  transition: all 3s cubic-bezier(.19,1,.22,1);
  transition-delay: 0.2s;
  transform: translateX(0%) !important;
  opacity: 1 !important;
  @media (prefers-reduced-motion: reduce) {
    transition: all 0s cubic-bezier(.19,1,.22,1);
  }
}

.col-2 {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  @include breakpoint-under('md'){
    display: block;
    gap: 0rem;
  }
  div {
    width: 50%;
    @include breakpoint-under('md'){
      width: 100%;
    }
  }
}
.col-3 {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  @include breakpoint-under('md'){
    display: block;
    gap: 0rem;
  }
  div {
    width: 33.333333%;
    @include breakpoint-under('md'){
      width: 100%;
    }
  }
}
