@use "sass:map";

// Colors
$theme-colors: (
    "dark-blue": #151722,
    "gold": #84754E,
    "grey": #E9E9E9,
    "light-black": #191C25,
    "light": #ffffff,
);

// GRADIENTS
$blue-bg: linear-gradient(to top, #081128 85%, transparent 100%);

$blue-gradient: (
    "first": #081127,
    "middle": #083d58,
    "last": #0c254b,
);

$latest-gradient: (
    "first": rgba(8, 17, 40, 0),
    "last": #081128,
);



// Fonts
//

//Photograph Signature
$PhotographSignature-font-family: "Photograph Signature";
@mixin PhotographSignature {
    font-family: $PhotographSignature-font-family;
}

//Noto Serif Display
$noto-font-family: "Noto Serif Display";
$noto-fw-light: 300;
$noto-fw-regular: 400;
$noto-fw-medium: 500;
$noto-fw-semi-bold: 600;
$noto-fw-bold: 700;

@mixin noto-light {
    font-family: $noto-font-family;
    font-weight: $noto-fw-light;
}

@mixin noto-medium {
    font-family: $noto-font-family;
    font-weight: $noto-fw-medium;
}
@mixin noto-semi-bold {
    font-family: $noto-font-family;
    font-weight: $noto-fw-semi-bold;
}

@mixin noto-bold {
    font-family: $noto-font-family;
    font-weight: $noto-fw-bold;
}

//Montserrat
$montserrat-font-family: "Montserrat";
$montserrat-fw-light: 300;
$montserrat-fw-regular: 400;
$montserrat-fw-medium: 500;
$montserrat-fw-semi-bold: 600;
$montserrat-fw-bold: 700;

@mixin montserrat-light {
    font-family: $montserrat-font-family;
    font-weight: $montserrat-fw-light;
}
@mixin montserrat-regular {
    font-family: $montserrat-font-family;
    font-weight: $montserrat-fw-regular;
}

@mixin montserrat-medium {
    font-family: $montserrat-font-family;
    font-weight: $montserrat-fw-medium;
}
@mixin montserrat-semi-bold {
    font-family: $montserrat-font-family;
    font-weight: $montserrat-fw-semi-bold;
}

@mixin montserrat-bold {
    font-family: $montserrat-font-family;
    font-weight: $montserrat-fw-bold;
}

// Open Sans
$opensans-font-family: "Open Sans", sans-serif;
$opensans-fw-light: 300;
$opensans-fw-regular: 400;
$opensans-fw-medium: 500;
$opensans-fw-semi-bold: 600;
$opensans-fw-bold: 700;

@mixin open-light {
    font-family: $opensans-font-family;
    font-weight: $opensans-fw-light;
}

@mixin open-regular {
    font-family: $opensans-font-family;
    font-weight: $opensans-fw-regular;
}

@mixin open-medium {
    font-family: $opensans-font-family;
    font-weight: $opensans-fw-medium;
}

@mixin open-semi-bold {
    font-family: $opensans-font-family;
    font-weight: $opensans-fw-semi-bold;
}

@mixin open-bold {
    font-family: $opensans-font-family;
    font-weight: $opensans-fw-bold;
}