@use "sass:map";
@import "../../styles/variables";
@import "../../styles/media_queries";

.ReviewCarousel {
    margin: 0;
    padding: 0 0 1rem 0;
    background: map.get($theme-colors, "grey");
    color: map.get($theme-colors, "gold");
    @include montserrat-semi-bold;
    font-size: 1.25rem;
    width: 100%;
    height: auto;
    position: relative;
    
    .carouselContainer {
        width: 100%;
        height: 100%;
        position: relative;
        height: fit-content;
        @include breakpoint-under('lg'){
            display: block;
            padding-top: 1rem;
            div {
                width: 100%;
            }
        }

        @include breakpoint-under('lg'){
            padding-bottom: 2rem;
            padding-top: 2rem;
             width: 100%;
        }
        justify-content: center;
        display: flex;
        margin: auto;
        position: relative;
        img {
            width: 100%;
            height: auto;
        }
        }
  .swiper {
    color: map.get($theme-colors, "dark-blue");
    @include montserrat-semi-bold;
    font-size: 1.25rem;
    overflow: hidden;
    // &::after {
    //     content: attr(data-text);
    //   background-color: map.get($theme-colors, "grey");
    //     width: 25rem;
    //     height: 27rem;
    //     position: absolute;
    //     bottom: 6.2rem;
    //     @include breakpoint-under('lg'){
    //         bottom: 2rem;
    //     }
    //     left: 5.75rem;
    //     z-index: 1;
    //    }
    .image {
        position: relative;
        // &::after {
        //     content: attr(data-text);
        //     background-color: map.get($theme-colors, "grey");
        //     width: 25rem;
        //     height: 27rem;
        //     position: absolute;
        //     bottom: 0.2rem;
        //     left: 5.75rem;
        //     z-index: 1;
        //   }
       }
   }

   .swiperText {
    position: absolute;
    pointer-events: none !important;
    max-width: 30rem !important;
    width: 60%;
    left: 5.75rem;
    bottom: 8rem;
    height: fit-content;
    @include breakpoint-under('lg') {
      pointer-events: all !important;
        position: relative;
        bottom: 0;
        width: 100%;
        left: 0;
        max-width: 100% !important;
    }
    background-color: map.get($theme-colors, "grey");

 .containerText {
    padding: 4.75rem 3.75rem 2.813rem;
    @include  breakpoint-under('lg') {
     padding: 4.75rem 0 2.813rem;;
    }
    position: relative;
    background-color: map.get($theme-colors, "grey");
    height: fit-content;
    

    .text {
        @include montserrat-regular;
        font-size: 1rem;
        color: map.get($theme-colors, "dark-blue");
        line-height: 1.5rem;
        margin-bottom: 1rem;
        width: auto;
        @include  breakpoint-under('lg') {
          padding-left: 3rem;
          padding-right: 3rem;
        }
    }
    .label {
        @include montserrat-semi-bold;
        font-size: 0.875rem;
        color: map.get($theme-colors, "dark-blue");
        line-height: 1.5rem;
        text-transform: uppercase;
        margin-top: 1rem;
        width: auto;
        @include  breakpoint-under('lg') {
          padding-left: 3rem;
          padding-right: 3rem;
        }
    }
    .firma {
        width: 60%;
        @include  breakpoint-under('lg') {
            width: 30%;
            min-width: 10rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
 }
   }

    }
  
  .desktop {
    @include breakpoint-under('lg'){
        display: none;
    }
  }

  .mobile {
    display: none;
    @include breakpoint-under('lg'){
        display: block;
    }
  }

  .controllers {
  display: flex;
  position: absolute;
  top: 50%;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  @include breakpoint-under('lg') {
    display: none;
  }

  button {
    height: 5px;
    cursor: pointer;
    width: 50px;
    border: none;
    outline: none;
    color: map.get($theme-colors, "gold");
    background: none;
    z-index: 1;
  }
  .next {
    transform-origin: 50% 50%;
    transform: rotateZ(-90deg);
  }

  .prev {
    transform-origin: 50% 50%;
    transform: rotateZ(90deg);
  }
}