@use "sass:map";
@import "../../styles/variables";
@import "../../styles/media_queries";

.content {
    height: 150vh;
    background-color: map.get($theme-colors, "grey") !important;
    color: map.get($theme-colors, "gold");
}