@use "sass:map";
@import "../../styles/variables";
@import "../../styles/media_queries";

.Header {
  letter-spacing: 2px !important;
    background-color: map.get($theme-colors, "dark-blue");
    position: relative;
    @include montserrat-semi-bold;
    color: map.get($theme-colors, "gold");
    font-size: 0.875rem;
    text-transform: uppercase;
    height: fit-content;
    z-index: 3;

   .headerContainer {
    justify-content: space-between;
    display: flex;
    background-color: map.get($theme-colors, "dark-blue");
    position: fixed;
    width: 100%;
    max-height: 200px;

    .containerSx {
     position: relative;
     @include breakpoint-under('lg'){
      order: 1;
      width: 33.333333%;
    }

    .logo {
      padding-top: 2rem;
      padding-left: 2.438rem;
      padding-right: 2.438rem;
      padding-bottom: 2.875rem;
      position: relative;
      height: auto;
      min-width: 122px;
      max-width: 152px;
      margin: 0 !important;
      @include breakpoint-under('lg'){
        width: 80%;
        padding-left: 1rem;
        padding-right: 0rem;
        padding-top: 1.8rem;
        padding-bottom: 1rem;
        z-index: 3;
      }
      margin: auto;
      display: flex;
      svg {
       height: auto;
      }
    }
    .logoOtherPage {
      margin: 0;
      min-width: 125px;
      max-width: 152px;
      @include breakpoint-under('lg'){
        min-width: 50px;
        max-width: 80px;
      }
    }

    }
    .containerDx {
      @include breakpoint-under('lg'){
        // order: 0;
        // width: 33.333333%;
        // padding-right:0rem;
        display: none;
      }
      display: flex;
      padding-right: 1.875rem;
      position: relative;
      .link {
        margin-top:2.875rem;
        margin-right: 2.375rem;
        position: relative;
        padding-bottom: 0.3rem;
        height: fit-content;
        @include breakpoint-under('lg'){
            display: none;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 1px;
          background-color: map.get($theme-colors, "gold");
          transition: all .4s cubic-bezier(.19,1,.22,1);
          @media (prefers-reduced-motion: reduce) {
              transition: all 0s;
              transition-delay: 0ms;
          }
          @include breakpoint-under('lg'){
            display: none;
        }
        }
        &:hover {
          &::after{
              left: 0;
              width: 100%;
          }
      }
      }

      .linkSelected {
        color: map.get($theme-colors, "grey");
      //   &::after{
      //     left: 0;
      //     width: 100%;
      // }
      }

      button {
        height: fit-content;
      }
      .labelForm {
        margin-right: 2.375rem;
        letter-spacing: 2px;
        position: relative;
        padding: 1.563rem;
        margin-top:1.312rem;
        @include montserrat-semi-bold;
        display: flex;
        color: map.get($theme-colors, "gold");
        font-size: 0.875rem;
        text-transform: uppercase;
        cursor: pointer;
        border: 0.5px solid map.get($theme-colors, "gold");
        @media (prefers-reduced-motion: reduce) {
          transition: all 0s;
          transition-delay: 0ms;
          }
        transition: all .4s cubic-bezier(.19,1,.22,1);
        &:hover {
          color: map.get($theme-colors, "grey");
          background-color: map.get($theme-colors, "gold") !important;
        }
        @include breakpoint-under('lg'){
          display: none;
      }
        
      }
      .language {
        margin-right: 1rem;
        color: map.get($theme-colors, "gold");
        margin-top:2.875rem;
        position: relative;
        padding-bottom: 0.3rem;
        cursor: pointer;
        height: fit-content;
        z-index: 3;
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 1px;
          background-color: map.get($theme-colors, "gold");
          transition: all 1s cubic-bezier(.19,1,.22,1);
          @media (prefers-reduced-motion: reduce) {
              transition: all 0s;
              transition-delay: 0ms;
          }
        }
        &:hover {
          &::after{
              left: 0;
              width: 100%;
          }
      }

      }
      .languageSelected {
        color: map.get($theme-colors, "grey");
        &::after{
          left: 0;
          width: 100%;
      }
      }
    }
    .burgerMenu {
      display: none;
      margin-top: 2.875rem;
      @include breakpoint-under('lg'){
        margin-top: 2rem;
        display: block;
          order: 2;
          width: 33.333333%;
          display: flex;
          z-index: 3;
    }
      justify-content: flex-end;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 1.25rem;


      .burgerIcons {
          display: none;

          @include breakpoint-under("lg") {
              display: flex;
              flex-direction: column;
              gap: .35rem;
              align-items: center;
              justify-content: center;
              width: 2rem;
              height: 2rem;
              background: transparent;
              border: none;
              cursor: pointer;
              padding: 0;
              z-index: 10;
              margin-right: 1.5rem;
          }

          span {
              width: 1.75rem;
              height: 1.5px;
              background-color: map.get($theme-colors, "gold") !important;
              border-radius: 10px;
              transition: all 0.4s linear;
              @media (prefers-reduced-motion: reduce) {
                  transition: all 0s;
                  transition-delay: 0ms;
              }
              position: relative;
              transform-origin: 1px;

              &.open:nth-child(1) {
                  top: -9px;
                  transform: rotate(45deg);
              }
              &.open:nth-child(2) {
                transform: rotate(-45deg);
                top: 2px;
            }
          }
      }
    }
   }
  }

