@use "sass:map";
@import "../../styles/variables";
@import "../../styles/media_queries";

.Footer {
    background-color: map.get($theme-colors, "dark-blue");
    display: flex;
    flex-direction: column;
    color: map.get($theme-colors, "gold");
    .form {
      width: 100%;
      @include noto-semi-bold;
    }
    .footer {
      width: 100%;
    }
    .lowFooter {
      width: 100%;
      nav {
       display: flex;
       margin: auto;
       width: fit-content;
       font-size: 1rem;
       gap: 1.2rem;
       @include montserrat-regular;
       @include breakpoint-under("lg") {
        display: block;
        text-align: center;
        p {
          margin-bottom: 0.9rem;
        }
       }
      }
      .colophonMenu {
        li {
          @include breakpoint-under('md') {
            margin-bottom: 0.5rem;
          }
          a:hover {
            text-decoration: underline;
          }
          @include breakpoint-under("lg") {
            display: inline-block;
          }
        }
        li + li::before {
          content: " |";
          margin-right: 0.5rem;
        }
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;
      }
    
    
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }

    hr {
      background-color: rgba( map.get($theme-colors, "gold"), 1);
      border: none;
      height: 1px;
      opacity: 0;
      width: 100%;
      margin: auto;
      transform: translateX(-100%);
      position: relative;
      @include breakpoint-under('lg'){
        margin: 1rem auto;
      }
    }
  }