@use "sass:map";
@import "../../styles/variables";
@import "../../styles/media_queries";

.Footer {
  background-color: map.get($theme-colors, "dark-blue");
  display: flex;
  flex-direction: column;
  color: map.get($theme-colors, "gold");

  .formContainer {
    padding-top: 11.438rem;
    @include breakpoint-under('md'){
      padding-top: 5.188rem;
    }
    width: 100%;

    .title {
      @include noto-semi-bold;
      font-weight: 732 !important;
      font-size: 5rem;
      line-height: 4.5rem;

      @include breakpoint-under('md') {
        font-size: 3.125rem;
        line-height: 3rem;
      }
    }

    .subtitle {
      color: map.get($theme-colors, "grey");
      @include montserrat-regular;
      font-size: 1rem;
      margin-top: 3rem;
    }

    .form {
      margin-top: 7rem;
      margin-bottom: 5.375rem;
      @include breakpoint-under('md'){
        margin-top: 3rem;
        margin-bottom: 4.375rem;
      }
      @include montserrat-regular;
      font-size: 1rem;

      .field {
        margin-bottom: 2.5rem;

        li {
          list-style: none;
        }

       textarea, input {
          margin-top: 1rem;
          width: 100%;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid map.get($theme-colors, "gold");
          color: map.get($theme-colors, "grey");
          @include montserrat-regular;
        }
        .inputMessage {
          height: 8rem;
        }
      }

      .send {
        border: 1px solid map.get($theme-colors, "gold");
        color: map.get($theme-colors, "gold");
        padding: 1.6rem 3.7rem;
        transition: all .4s cubic-bezier(.19, 1, .22, 1);
        @include montserrat-semi-bold;
        font-size: 0.875rem;
        text-transform: uppercase;
        cursor: not-allowed;
        @include breakpoint-under('md'){
          width: 100%;
          padding: 2.3rem 3.7rem;
        }
      }

      .allowed {
        cursor: pointer;

        &:hover {
          color: map.get($theme-colors, "grey");
          background-color: map.get($theme-colors, "gold") !important;
        }
      }

      .conditions {
        display: flex;
        height: fit-content;
        @include breakpoint-under('md'){
          margin-bottom: 2rem;
        }
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        .checkmark {
          height: 20px;
          width: 20px;
          border: 1px solid map.get($theme-colors, "gold");
          cursor: pointer; 
          position: relative;
          &:hover {
            background-color: rgba(map.get($theme-colors, "gold"), 0.5) !important;
          }

          svg {
            transform: scale(0.7);
            position: relative;
            top: -1px;
            width: 100%;
            height: 100%;
            left: -1px;
            fill: map.get($theme-colors, "gold");
          }
        }

        .label {
          font-size: 0.875rem;
          padding-left: 0.5rem;
          position: relative;
          height: fit-content;
          margin: auto 0;
          cursor: pointer;
        }
      }

    }
  }

  .footer {
    width: 100%;

    .container2columns {
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: space-between;

      @include breakpoint-under('lg') {
        display: block;
        width: fit-content;
        margin: auto;
      }

      .interContainer {
        display: flex;
        gap: 2rem;
        align-items: end;

        @include breakpoint-under('lg') {
          display: none;
        }
      }

      .info {
        li {
          list-style: none;
          margin-bottom: 0.5rem;
        }

        height: fit-content;
      }

      .link {
        @include breakpoint-under('lg') {
          text-align: center;
        }
        
       button span , a {
          position: relative;
          padding-bottom: 2px;
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 1px;
            background-color: map.get($theme-colors, "gold");
            transition: all .4s cubic-bezier(.19,1,.22,1);
            @media (prefers-reduced-motion: reduce) {
                transition: all 0s;
                transition-delay: 0ms;
            }
            @include breakpoint-under('lg'){
              display: none;
          }
          }
          &:hover {
            &::after{
                left: 0;
                width: 100%;
            }
        }
        }

        .logo {
          display: none;

          @include breakpoint-under('lg') {
            display: block;
          }

          .logoImg {
            padding-top: 2rem;
            padding-left: 2.438rem;
            padding-right: 2.438rem;
            padding-bottom: 2rem;
            position: relative;
            height: auto;
            min-width: 122px;
            max-width: 152px;
            margin: auto !important;

            @include breakpoint-under('lg') {
              width: 80%;
              padding-left: 1rem;
              padding-right: 0rem;
              padding-top: 1.8rem;
              padding-bottom: 1rem;
              z-index: 3;
            }

            margin: auto;
            display: flex;

            svg {
              height: auto;
            }
          }
        }

        span,
        li {
          letter-spacing: 2px !important;
          @include montserrat-semi-bold;
          text-transform: uppercase;
          cursor: pointer;
          text-align: end;
          list-style: none;
          margin-bottom: 0.5rem;
          color: map.get($theme-colors, "gold");
          font-size: 0.875rem;

          @include breakpoint-under('lg') {
            text-align: center;
            margin-bottom: 1.563rem;
          }
        }

        button {
          margin: 0;
          padding: 0;
        }

        height: fit-content;

      }

    }

    .social {
      display: flex;
      justify-content: flex-end;
      margin-top: 2.875rem;
      margin-bottom: 1rem;

      @include breakpoint-under('lg') {
        justify-content: center;
      }

      svg {
        height: 27px;
        margin-right: 6px;

        path {
          stroke: #84754E;
          fill: #84754E;
        }

      }
    }


    @include montserrat-regular;
    font-size: 1rem;
  }

  .linesMobile {
    display: none;

    @include breakpoint-under('lg') {
      display: block;
    }
  }

  .interContainerMobile {
    display: none;

    @include breakpoint-under('lg') {
      display: block;
    }

    .logo {
      margin-bottom: 1.5rem;

      .logoImg {
        position: relative;
        height: auto;
        min-width: 100px !important;
        max-width: 120px;
      }
    }

    .infoMobile {
      @include montserrat-regular;
      font-size: 1rem;
      width: fit-content !important;

      li {
        list-style: none;
        margin-bottom: 0.5rem;
      }

      height: fit-content;
      display: none;

      @include breakpoint-under('lg') {
        display: block;
      }
    }
  }

  .lowFooter {
    width: 100%;

    nav {
      display: flex;
      margin: auto;
      width: fit-content;
      font-size: 1rem;
      gap: 1.2rem;
      @include montserrat-regular;

      @include breakpoint-under("lg") {
        display: block;
        text-align: center;

        p {
          margin-bottom: 0.9rem;
        }
      }
    }

    .colophonMenu {
      li {
        @include breakpoint-under('md') {
          margin-bottom: 0.5rem;
        }

        a:hover {
          text-decoration: underline;
        }

        @include breakpoint-under("lg") {
          display: inline-block;
        }
      }

      li+li::before {
        content: " |";
        margin-right: 0.5rem;
      }

      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      justify-content: center;
    }


    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  hr {
    background-color: rgba(map.get($theme-colors, "gold"), 0.5);
    border: none;
    height: 0.5px;
    opacity: 0;
    width: 100%;
    margin: auto;
    transform: translateX(-100%);
    position: relative;

    @include breakpoint-under('lg') {
      margin: 1rem auto;
    }
  }
}
